@using BeerConf.Web.Application.Events.ViewModels
@model NextEventViewModel

<div id="next-event">
    @if (Model != null) {
        @:Следующая встреча "<a href="@Url.Action("Details", "Events", new { id = Model.Id })">@Model.Name</a>" состоится <a href="@Url.Action("Details", "Events", new { id = Model.Id })">@Model.Begin.ToLongDateString() в @Model.Begin.ToShortTimeString()</a>

        if(Model.IsParticipating == false)
        {
            if(Request.IsAuthenticated)
            {
                using (Html.BeginForm("Participate", "Events"))
                {
                    <input value="@Model.Id" name="EventId" type="hidden"/>
                    <input value="Я хочу участвовать!" type="submit"/>
                }
            }
            else
            {
                <div><a href="@Url.Action("SignIn", "Account")"><input type="button" value="Я хочу участвовать!"/></a></div>
            }
        }
        else
        {
            <div>Вы участвуете!</div>
        }
    }
</div>