@using BeerConf.Web.Application.Account.Forms

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.14.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/MvcExtensions.js")" type="text/javascript"></script>
</head>

<body>
    <div id="head">
        <div id="title">beerconf.ru</div>
        <div id="log-on-information">@Html.Partial("_LogOnPartial", new SignIn())</div>
    </div>
    <div id="main">
        <div id="left-column">
            <div id="main-menu">@Html.Partial("_Navigation")</div>
        </div>
        <div id="center-column">
            <div id="content">@RenderBody()</div>
        </div>
        <div id="right-column">@Html.Action("NextEvent", "Events")</div>
        <br class="clear"/>
    </div>
    <div id="footer">
        <div id="bottom-menu">@Html.Partial("_Navigation")</div>
        <div id="copyright">&copy; beerconf 2011</div>
    </div>
<!-- Yandex.Metrika counter --><div style="display:none;"><script type="text/javascript">(function (w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter8127637 = new Ya.Metrika({ id: 8127637, enableAll: true }); } catch (e) { } }); })(window, "yandex_metrika_callbacks");</script></div><script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script><noscript><div><img src="//mc.yandex.ru/watch/8127637" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>
