@model Brandy.Security.Web.Forms.SignIn

<li class="dropdown">
    @if (Request.IsAuthenticated)
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            @User.Identity.Name <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("ChangePassword", "Account")">Изменить пароль</a></li>
            <li><a href="@Url.Action("SignOut", "Account")">Выйти</a></li>
        </ul>
    }
    else
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Войти <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "from-vertical" })) 
                {
                    <fieldset>
                        @Html.EditorForModel()
                        <p>
                            <input type="submit" value="Войти" class="btn" />
                        </p>
                    </fieldset>
                }
            </li>
            <li class="divider"></li>
            <li><a href="@Url.Action("SignUp", "Account")">Зарегистрироваться</a></li>
        </ul>
    }
</li>
